/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap'); */
@font-face {
  font-family: 'Jost';
  src: url('./fonts/Jost/Jost-VariableFont_wght.ttf') format('woff2');
 }
 @font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins/Poppins-Regular.ttf') format('woff2');
 }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}
:root{
    --white: #f9f8f6;
    --offWhite: hsl(43, 13%, 90%);
    --grey1: hsl(40, 15%, 80%);
    --grey2: hsl(39, 11%, 69%);
    --grey3: hsl(41, 8%, 61%);
    --darkGrey: hsl(0, 0%, 81%);
    --yellow: hsl(44, 82%, 60%);
    --lightestYellow: hsl(48, 100%, 77%);
    --mediumYellow: hsl(48, 94%, 68%);
    --green: hsl(80, 25%, 35%);
    --lightGreen: #BCC456;
    --mediumGreen:#A1AA2D;
    --orange: #E3A445;
    --darkOrange: #E08600;
    --border: 5px solid var(--yellow);
    --errorRed: hsl(354, 85%, 44%);
    --peachyPink: #D0415A;
    --lightPeachyPink: hsl(349, 43%, 66%);
    --mediumPeachyPink: #CF6174;
}
body{
    background-color: var(--white);
    color: hsl(0, 1%, 30%);
    font-family: 'Poppins', sans-serif;
    background-image: url('./images/Option2.svg');
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid blue;
}

/* Buttons  */
button {
  border: 2px solid var(--mediumGreen);
  padding: 0.8rem 1rem;
  border-radius: 5px;
  min-width: 150px;
  width: auto;
  background-color: var(--white);
  font-weight: bolder;
  font-size: 15px;
  color: var(--mediumGreen);
  -webkit-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px;
  -webkit-transform: all 2s esase;
  -ms-transform: all 2s esase;
  transform: all 2s esase;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

button:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 7px 1px var(--yellow);
  box-shadow: 0px 7px 1px var(--yellow);
  border: 1px solid var(--yellow);
}

button:active {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px var(--yellow);
}

/* Secondary Button */
.secondaryButton {
  border: 2px solid var(--grey3);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  min-width: 150px;
  width: auto;
  min-height: 10px;
  height: auto;
  background-color: var(--white);
  font-weight: bolder;
  font-size: 15px;
  color: var(--grey3);
  -webkit-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px;
  -webkit-transform: all 2s esase;
  -ms-transform: all 2s esase;
  transform: all 2s esase;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.secondaryButton:hover {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0px 7px 1px var(--yellow);
  box-shadow: 0px 7px 1px var(--yellow);
  border: 1px solid var(--yellow);
}

.secondaryButton:active {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-box-shadow: 0px 0px 1px;
  box-shadow: 0px 0px 1px var(--yellow);
}

.buttonWithIcon{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  padding: 0;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
}
input{
 border: none;
 background-color: var(--offWhite);
 padding: 1em;
 border-radius: 5px;
 width: 60%;

}
textarea{
border: none;
 background-color: var(--offWhite);
 padding: 1em;
 border-radius: 5px;
 padding: 0.5em;
 resize: none;
 font-family: 'Inter', sans-serif;
}
input:focus{
    border:1.5px solid var(--lightGreen);
}

select{
    background-color: hsla(36, 74%, 58%, 0.8);
    font-size: 1.2rem;
    font-family: 'Jost', sans-serif;
    border: 2px solid var(--yellow);
    border-radius: 5px;
    padding: 0.4rem 1rem;
    min-width: 140px;
    width: auto;
}

.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
border: 1px solid rgba(255, 255, 255, 0.57);
}

.link:hover{
  color: var(--darkOrange);
}
/* For the main icons */
.primary {
  fill:  var(--yellow);
}
.primary:hover{
  fill: var(--mediumYellow);

}
.secondary {
  fill: var(--mediumGreen); 
}
.secondary:hover{
  fill: var(--lightGreen);
}
/* For the unfavorited heart */
.primaryHeart{
  fill: var(--offWhite);
}
.primaryHeart:hover{
  fill: var(--grey1);
}
.secondaryHeart{
  fill: var(--grey2);
}
.secondaryHeart:hover{
  fill: var(--grey3);
}
/* For the favorited heart */
.primaryHeartFaved{
  fill: var(--lightPeachyPink);
}
.primaryHeartFaved:hover{
  fill: var(--peachyPink);
}
.secondaryHeartFaved{
  fill: var(--lightestYellow);
}
.secondaryHeartFaved:hover{
  fill: var(--lightPeachyPink);
}
.error{
  color: var(--errorRed);
  font-weight: 700;
}
.boxShadowHover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.boxShadowHover:hover{
  box-shadow: var(--green) 0px 2px 4px 0px, var(--lightGreen) 0px 2px 16px 3px;
}
.boxShadow{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.scrollBar{
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--green) var(--orange);
}

/* .box {
  --mask:
    radial-gradient(4.29rem at 50% calc(100% - 5.8rem),#000 99%,#0000 101%) calc(50% - 4rem) 0/8rem 100%,
    radial-gradient(4.29rem at 50% calc(100% + 3.8rem),#0000 99%,#000 101%) 50% calc(100% - 2rem)/8rem 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
} */

