@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #F8F9F8;
    --beige: #C9B6A1;
    --yellow: #E8B634;
    --lightYellow: #FFE27C;
    --green: #758650;
    --lightGreen: #B5C267;
    --orange: #E3A547;
    --border: 5px solid var(--yellow);
    /* --yellow:  #ca4a81;
    --lightYellow: #f486b2;
    --green: #ef4c4d;
    --lightGreen: #F48687;
    --border: 5px solid var(--yellow);
    --orange: #E3A547;
 */
}
body{
    background-color: var(--white);
    color: black;
    font-family: 'Inter', sans-serif;
    background-image: url('./images/Background.png');
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
 font-size: 1.802rem;
}
h2{
  font-size: 1.602rem;
}
h3 {
 font-size: 1.424rem;
}
h4{
  font-size: 1.266rem;
}
h5{
    font-size: 1.125rem;
}
h6{
    font-size: 1rem;
}
li, ul, ol, p{
  font-size: 1.1rem;
}
label{
  font-size: 1.266rem;

}
span{
  font-size: 1.1rem;
  font-style: italic;
}

button, .button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid var(--lightGreen);
    color: var(--green);
  }
  button:hover, .button:hover {
    color: #fff;
  }
  button:hover:after, .button:hover:after {
    height: 100%;
  }
  button:after, .button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background: var(--lightGreen);
 }

input{
 border: 2px solid var(--yellow);
 padding: 0.5em;
 border-radius: 5px;

}
textarea{
 border: 2px solid var(--yellow);
 padding: 0.5em;
 border-radius: 2px;
}
input:focus{
    border:1.5px solid var(--lightGreen);
}

select{
    background-color: var(--lightYellow);
    border: none;
    border-radius: 5px;
    padding: 0.5em; 
}
textarea{
    resize: none;
}
.glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.3px);
-webkit-backdrop-filter: blur(3.3px);
border: 1px solid rgba(255, 255, 255, 0.57);
}

